body{
    background-color: rgb(123, 216, 245);
    display: grid;
    grid-template-areas:
    "titel titel titel rectangel1"
    "Cyclope Bottles DivingFine rectangel1"
    "Regulator DivingComputer Tube rectangel1"
    
    ;

   
    margin-left: 5%;
    margin-right: 1%;
    margin-top: 2%;
    background-image: url("./img/sub-2296460_1280 (3).jpg");
}





.titel{
    grid-area: titel;
    font-size: 35px; 
    display: flex;
    color: rgb(171, 193, 235);
}

.Cyclope{
    grid-area: Cyclope;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    color: rgb(4, 8, 137);
    font-weight: bold;
}

.Cyclope button {
    height: 30px;
    width: 100px;
    padding: 10px;
    background-color: rgb(93, 145, 235);
    text-align: center;
}

.Bottles{
    grid-area: Bottles;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    color: rgb(4, 8, 137);
    font-weight: bold;
}

.Bottles button {
    height: 30px;
    width: 100px;
    padding: 10px;
    background-color: rgb(93, 145, 235);
    text-align: center;
}

.DivingFine{
    grid-area: DivingFine;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    color: rgb(4, 8, 137);
    font-weight: bold;
}

.DivingFine button {
    height: 30px;
    width: 100px;
    padding: 10px;
    background-color: rgb(93, 145, 235);
    text-align: center;
}






.Regulator{
    grid-area: Regulator;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    color: rgb(4, 8, 137);
    font-weight: bold;
}

.Regulator button{
    padding: 10px;
    height: 30px;
    width: 100px;
    background-color: rgb(93, 145, 235);
    text-align: center;
}






.Divingcomputer{
    grid-area: DivingComputer;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    color: rgb(4, 8, 137);
    font-weight: bold;
}

.Divingcomputer button{
    height: 30px;
    width: 100px;
    padding: 10px;
    background-color: rgb(93, 145, 235);
    text-align: center;
}






.Tube{
    grid-area: Tube;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    color: rgb(4, 8, 137);
    font-weight: bold;
}

.Tube button{
    height: 30px;
    width: 100px;
    padding: 10px;
    background-color: rgb(93, 145, 235);
    text-align: center;
}





.rectangle1{
    height: 325px;
    width: 150px;
    background-color: #313c90;
    text-align: center;
    
}


.logga img{
    padding: 15px;
    height: 100px;
    width: 110px;
}


.Cyklop img{
    height: 100px;
    width: 110px;
}

.Varukorg{
    background-color: rgb(142, 186, 239);
    font-size: 15px;
}


.Kontakt{
    background-color: rgb(142, 186, 239);
    font-size: 15px;
}


.VårHistoria{
    background-color: rgb(142, 186, 239);
    font-size: 15px;
    
}

























































