body {
    background-color: rgb(123, 216, 245);
    display: grid;
    grid-template-areas:
      "titel titel rectangel1"
    "Cyclope Bottles rectangel1"
    "DivingFine Regulator rectangel1"
    "DivingComputer Tube rectangel1";
  
    margin-left: 5%;
    margin-right: 1%;
    margin-top: 2%;
    background-image: url("./img/sub-2296460_1280 (3).jpg");
  }
  
 

  .titel {
    grid-area: titel;
    font-size: 35px;
    display: flex;
    color: rgb(171, 193, 235);
  }
  
  .Cyclope {
    grid-area: Cyclope;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    color: rgb(32, 36, 173);
    font-weight: bold;
  }
  
  .Cyclope button {
    height: 30px;
    width: 100px;
    padding: 10px;
    background-color: rgb(93, 145, 235);
    text-align: center;
  }
  
  .Bottles {
    grid-area: Bottles;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    color: rgb(32, 36, 173);
    font-weight: bold;
  }
  
  .Bottles button {
    height: 30px;
    width: 100px;
    padding: 10px;
    background-color: rgb(93, 145, 235);
    text-align: center;
  }
  
  .DivingFine {
    grid-area: DivingFine;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    color: rgb(32, 36, 173);
    font-weight: bold;
  }
  
  .DivingFine button {
    height: 30px;
    width: 100px;
    padding: 10px;
    background-color: rgb(93, 145, 235);
    text-align: center;
  }
  
  .Regulator {
    grid-area: Regulator;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    color: rgb(32, 36, 173);
    font-weight: bold;
  }
  
  .Regulator button {
    padding: 10px;
    height: 30px;
    width: 100px;
    background-color: rgb(93, 145, 235);
    text-align: center;
  }
  
  .Divingcomputer {
    grid-area: DivingComputer;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    color: rgb(32, 36, 173);
    font-weight: bold;
  }
  
  .Divingcomputer button {
    height: 30px;
    width: 100px;
    padding: 10px;
    background-color: rgb(93, 145, 235);
    text-align: center;
  }
  
  .Tube {
    grid-area: Tube;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    color: rgb(32, 36, 173);
    font-weight: bold;
  }
  
  .Tube button {
    height: 30px;
    width: 100px;
    padding: 10px;
    background-color: rgb(93, 145, 235);
    text-align: center;
  }
  
  .rectangle1 {
    grid-area: rectangel1;
    background-color: #313c90;
    text-align: center;
  }
  
  .logga img {
    padding: 15px;
    height: 100px;
    width: 110px;
  }
  
  .produkt img {
    height: 100px;
    width: 110px;
  }
  
  .Varukorg {
    background-color: rgb(142, 186, 239);
    font-size: 15px;
  }
  
  .Kontakt {
    background-color: rgb(142, 186, 239);
    font-size: 15px;
  }
  
  .VårHistoria {
    background-color: rgb(142, 186, 239);
    font-size: 15px;
  }
  
  .VarukorgText {
    color: rgb(6, 6, 21);
    font-weight: bold;
  }
  
  .RemoveKnappar {
    background-color: rgb(222, 142, 142);
    color: rgb(8, 8, 8);
  }
  